.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 29px 100px 30px 54px;
}

.navbar ul{
    display: flex;
    text-align: center;
}

.navbar ul li{
    list-style: none;
    margin-right: 75px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}

.icons{
    display: flex;
   
}

.icons img {
    margin-right: 45px;
    

}
.cart-link {
    position: relative;
    

      span{
        position: absolute;
        border: 1px solid;
        border-radius: 50%;
        font-size: 14px;
        height: 16px;
        width: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -5px;
        right: 30px;
        background-color: #959090;
        color: white;
       

     }
}