.container {
   
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}
.info-upper{
    align-items: center;
    justify-content: center;
    margin-right: 191px;
    margin-left: 191px;

    h1{
        width: 375px;
        margin: 20px 532px;
    }

    p{
        color: #9F9F9F;
        width: 644px;
        margin: 4px 398px 20px 398px;
    }
}

.info-lower{
    width: 1058px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 300px;
    margin-left: 300px;
    // margin-top: 10px;

    .info-items{
        margin-top: 0;
    }
}


.info-item {
    margin-bottom: 20px;
    margin-top: 0;
}

.info-item span{
    float: left;
}

.info-item h2 {
    font-size: 18px;
    margin-left: 40px;
    
}

.info-item p {
    font-size: 14px;
    color: #666;
    margin-left: 40px;
    
}

img{
    font-size: 24px;
    vertical-align: middle;
    margin-right: 10px;
}

.form {
    padding: 20px;
    flex-grow: 1;
}

form label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

form input{
    width:528px;
    height: 35px;
    color: #9F9F9F;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #d4a454;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}