.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 29px 100px 30px 54px;
}

.navbar ul{
    display: flex;
    text-align: center;
}

.navbar ul li{
    list-style: none;
    margin-right: 75px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}

.icons{
    display: flex;
}

.icons a{
    margin-right: 45px;

}