.category__title{
    text-align: center;
}

.category__content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
.category__content .category__content--item h4 {
    text-align: center;
    color: #333333;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
  }